*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-pokemon, .contenedor-nombres-pokemon{
    border: 1px solid red;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 24px;
}
.img-pokemon, .nombre-pokemon{
    border: 1px solid green;
    width: 160px;
    height: 200px;
    cursor: pointer;
}
.img-pokemon:hover, .nombre-pokemon:hover{
    background-color: aquamarine;
}
.img{
    width: 100%;
    height: 100%;
}
.seleccionado, .parcorrecto{
    border: 5px solid red;
    background-color: aquamarine;  
}
.recuadro-nombre{
    height: 100%;
}
.background-modal{
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.modal{
    position: absolute;
    top: 300px;
    left: 250px;/* Calc */
    width: 300px;  
    height: 100px;
    background-color: rgb(201, 72, 237);
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}